<div class="wrapper decidim-donations">
  <div class="row">
    <div class="row">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t(".title") %></h1>
      </div>
      <div class="columns large-8 medium-centered mb-s text-center">
        <h4><%= t(".instructions") %></h4>
        <p><%== t(".description", minimum_amount: minimum_amount, default_amount: default_amount) %></p>
      </div>
    </div>

    <div class="row checkout-form">
      <div class="columns large-4 medium-centered">
        <%= decidim_form_for(@form, url: authorization_path) do |form| %>
          <%= form.number_field :amount %>

          <div class="actions">
            <%= form.submit t(".checkout", provider: "<span class='provider #{provider.method}'>#{provider.name}</span>").html_safe, class: "button expanded primary large" %>
          </div>
        <% end %>
      </div>
    </div>

    <% if terms_and_conditions %>
      <div class="terms-and-conditions">
        <div class="columns large-8 medium-centered mb-s text-center">
          <%== terms_and_conditions %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= stylesheet_link_tag "decidim/donations/verification" %>
